
4.Unity/SpaceInvaders3D/Library/ArtifactDB
4.Unity/SpaceInvaders3D/Library/CurrentLayout-default.dwlt
4.Unity/SpaceInvaders3D/Library/SceneVisibilityState.asset
4.Unity/SpaceInvaders3D/Library/SourceAssetDB
4.Unity/SpaceInvaders3D/Logs/shadercompiler-UnityShaderCompiler.exe*.log
